body{
  background-image: url(simon-hajducki-yGMw4KpX4CE-unsplash.jpg);
  background-repeat: no-repeat;
}
img{
  height: 250px;
  background-color: inherit;
  color: inherit;
}
h1{
  font-size: 90px;
  color: white;
}
h2{
  font-size: 40px;
  text-align: left;
  color: white;
}
hr{
  border-style: dotted none none none;
  border-color: white;
  width: 10%;
  border-width: 10px;
}
h3{
  font-size: 40px;
  color: white;
}
ul{
  font-size: 30px;
  color: white;
}
a{
  color: white;
}
input{
  background-color: inherit;
  border-style: hidden;
  color: white;
  font-size: 40px;
  font-family: veranda;
  font-weight: bolder;
  font-style: italic;
}
textarea{
  color: white;
  background-color: inherit;
  font-weight: bolder;
  font-family: veranda;
  font-style: italic;
  font-size: 30px;
}
